div.data-grid-story {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Droid Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.m-v {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-h {
  padding-left: 1rem;
  padding-right: 1rem;
}


div.w100 > .data-grid-container > table.data-grid {
  width: 100%;
}

.header-chip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header-chip__x {
  flex: 0 0 auto;
  cursor: pointer;
  align-self: stretch;
}

.header-chip__x img {
  display: block;
}

.hidden-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  padding: 0.25em;
  margin: 1em 0;
}

.hidden-column-chip {
  display: inline;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.25em;
}
